.home_top {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  height: 70vh;
}

.home_banner {
  height: 70vh;
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home_profile {
  box-sizing: border-box;
  line-height: 1.5;
  text-align: left;
  font-family: "raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home_name {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 32px;
  text-align: left;
  color: #3498db;
  cursor: default;
}

.image-cont {
  width: 40%;
  height: 40%;
  background-color: rgb(40, 44, 44);
}

.home_tag {
  box-sizing: border-box;
  margin: 0px;
  padding: 0pc;
  font-size: 32px;
}

/* .home_image {
    width: 10%;
    height: 10%;
  } */

.buttons {
  display: flex;
  font-size: 20px;
}
.margin-left {
  margin-left: 10px;
}

.home_subtag {
  color: #484848;
  font-size: 20px;
  font-weight: 400;
  cursor: default;
}

.home_getstarted {
  border: 2px solid #3498db;
  border-radius: 30px;
  font-size: 18px;
  width: 160px;
  padding: 5px;
  padding-left: 20px;
  height: 25px;
  text-align: center;
  display: float;
  color: #3498db;
  display: flex;
  align-items: center;
}
.home_getstarted:hover {
  border: 2px solid #3498db;
  transition: background-color 0.5s ease;
  background-color: #3498db;
  color: white;
  cursor: pointer;
}
.mywork {
  border: black 0px solid;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 120px;
  float: left;
}
.arrow {
  margin-left: 0px;
  border: black 0px solid;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar2 {
  position: sticky;
  top: 0;
  border: 0px solid black;
}

.home_image {
  width: 300px;
  margin-left: 8%;
  margin-right: 0%;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-name: up-down;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
